@model Ho4yZa4et.Models.dta


@{
    ViewBag.Title = "status";
}

<h2>status</h2>

<div>
    <h4>dta</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.ls)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ls)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.companyINN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyINN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.number)
        </dd>

    </dl>
</div>

